<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Prediction</title>
  </head>
  <body>
    <h1>Image Prediction</h1>

    <form
      action="{{ url_for('upload_file') }}"
      method="post"
      enctype="multipart/form-data"
    >
      <input type="file" name="file" accept=".png, .jpg, .jpeg" />
      <input type="submit" value="Predict" />
    </form>

    {% if detected_images %}
    <div id="predictionResult">
      <h2>Detected Images:</h2>
      {% for img in detected_images %}
      <img src="{{ url_for('static', filename=img) }}" />
      {% endfor %}
    </div>
    {% endif %}
  </body>
</html>
